 <div class="container">
     <div class="row-fluid">
        
        <div class="col-md-4">   
            <h2>New Transaction</h2>

            <form class="form" role="form">
                <div class="form-group">
                    <label class="control-label">Product</label>
                    <select class="form-control" ng-model="new_transaction.product" ng-options="p.code for (k, p) in products" ></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Side</label>
                    <select class="form-control" ng-model="new_transaction.side" ng-options="s for s in sides"></select>
                </div>
                <div class="form-group">    
                    <label class="control-label">Quantity</label>
                    <input type="text" class="form-control" ng-model="new_transaction.quantity"/>
                </div>
                <div class="form-group">    
                    <label class="control-label">Price</label>
                    <input type="text" class="form-control" ng-model="new_transaction.price"/>
                </div>

                <a data-toggle="modal" class="btn btn-primary" ng-click="addTransaction()">Add</a>
            </form>
        </div>
                   
        <div class="col-md-8">
            <h2>Transactions</h2>

            </p>
            
            <div class="input-group col-md-6">
              <span class="input-group-addon">Search: </span>
              <input type="text" class="form-control" ng-model="searchText">
            </div>

            <table class="text-right table table-striped table-hover table-bordered">
                <tr>
                    <th>Date</th>
                    <th>Platform</th>
                    <th>Product</th>
                    <th>Side</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Cost</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="t in transactions | filter:searchText">
                    <td>{{t.date | date:'yyyy-MM-dd HH:mm:ss'}}</td> 
                    <td>{{t.product.platform.name}}</td>
                    <td>{{t.product.code}}</td>
                    <td>{{t.side}}</td>
                    <td>{{t.quantity}}</td>
                    <td>{{t.price | currency:t.currencySymbol}}</td>
                    <td>{{t.getNet() | currency:t.currencySymbol}}</td>
                    <td><button type="button" class="btn btn-default btn-xs" ng-click="deleteTransaction(t)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button></td>
                </tr>
            </table> 
        </div>

    </div>
</div>
